
/* padding and background for main content*/
.bodies {
	margin: 0 auto;
	width: 50%;
	background: #FFF;
	padding: 15px;
}
/*image scaling*/
.images {
	width: 100%;
	height: auto;
}

.images2 {
	width:15%;
	height: auto;
}
body {
	background: #CCC;
}

h6 {
	text-align:center;
	font-size:60px;
}

.click_here {
	text-align:center;
	font-size: 30px;
}

h5 {
	text-align:center;
	font-size: 40px;
}

h2 {
	color:red;
	font-family: Arial, sans-serif;
	font-size: 45px;
	
}

h3 {
	font-size: 30px;
	font-family: Arial, sans-serif;
}

p {
	font-size:25px;
	font-family: Arial, sans-serif;
}
#main_title {
	font-size: 50px;
}
	
	
a {
	font-size: 25px;
}